@font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Roboto Bold";
    src: url("./font/Roboto-Bold.ttf");
    font-display: swap;
}

:root {
    font-size: 15px;
}

*, *::before, *::after {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Roboto";
    background-color: #333;
}

main {
    min-height: 100svh;
    display: flex;
    justify-content: center;
}

main ul {
    width: min(50rem, 95%);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
main ul li {
    border: 1px solid #dedede;
    list-style: none;

    background-color: #1d481d;
    position: relative;

    transition: 0.25s;
}


li.-forbidden {
    animation: vibrate 0.5s 0.15s;
}

@keyframes vibrate {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-3deg); }
    20% { transform: rotate(3deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-3deg); }
    80% { transform: rotate(3deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-3deg); }
  }


main ul li[data-base="1"] {
    background: linear-gradient(to bottom, #333, #238b23);
}
main ul li[data-base="2"] {
    background: linear-gradient(to top, #333, #a91c36);
}

main ul li:not(.card):hover {
    opacity: 0.75;
}

li.card {
    --look: url("./pics/normal.webp");
}
li.card.-insane {
    --look: url("./pics/insane.webp")
}
li.card.-easy {
    --look: url("./pics/easy.webp")
}
li.card.-easy2 {
    --look: url("./pics/easy2.webp")
}
li.card.-medium {
    --look: url("./pics/medium.webp")
}
li.card.-hard {
    --look: url("./pics/hard.webp")
}
li.card.-harder {
    --look: url("./pics/harder.webp")
}
li.card.-hard1 {
    --look: url("./pics/hard1.webp")
}
li.card.-hard2 {
    --look: url("./pics/hard2.webp")
}
li.card.-extreme {
    --look: url("./pics/extreme.webp")
}


li.card.-na {
    --look: url("./pics/na.webp")
}
li.card.-auto {
    --look: url("./pics/auto.webp")
}
li.card.-pacific {
    --look: url("./pics/pacific.webp")
}


li.card.team2 {
    --back: #fc6767;
}
li.card.-hidden {
    opacity: 0.5;
}

li.card::before {
    content: "❤️"var(--lifes, "0");
    
    position: absolute;
    inset: 5px;

    font-family: "Roboto Bold";
    font-size: 0.85rem;

    background-color: var(--back, lightblue);
    background-image: var(--look);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;

    border-radius: 5px;
}

li.card::after {
    padding: 0.1rem 0.25rem;
    min-width: 2.5rem;

    content: "💀"var(--damage, "0");
    position: absolute;
    bottom: 0.15rem; right: 0.15rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.85rem;
    text-wrap: nowrap;
    color: #fff;
    overflow: hidden;

    background-color: #333;
    border-radius: 0.75rem;
}

.-active {
    outline: 2px solid #f6ff00;
    outline-offset: -2px;
}


/* possible directions */
li:not(.card) {
    --g1: #6c7015;
    --g2: #1d481d;
    --g11: #612127;
}

li[data-team1-can="true"]:not(.card):has(+ * + * + * + * + * + * + .card.-active) {
    background: linear-gradient(-45deg, var(--g1), var(--g2));
}
li[data-team1-can="true"]:not(.card):has(+ * + * + * + * + * + .card.-active) {
    background: linear-gradient(to top, var(--g1), var(--g2));
}
li[data-team1-can="true"]:not(.card):has(+ * + * + * + * + .card.-active) {
    background: linear-gradient(45deg, var(--g1), var(--g2));
}
li.card.-active + * + * + * + * + li[data-team1-can="true"]:not(.card) {
    background: linear-gradient(215deg, var(--g1), var(--g2));
}
li.card.-active + * + * + * + * + * + li[data-team1-can="true"]:not(.card) {
    background: linear-gradient(to bottom, var(--g1), var(--g2));
}
li.card.-active + * + * + * + * + * + * + li[data-team1-can="true"]:not(.card) {
    background: linear-gradient(-215deg, var(--g1), var(--g2));
}
li[data-team1-can="true"]:not(.card):has(+ .card.-active) {
    background: linear-gradient(to left, var(--g1), var(--g2));
}
li.card.-active + li[data-team1-can="true"]:not(.card) {
    background: linear-gradient(to right, var(--g1), var(--g2));
}

li[data-team2-can="true"]:not(.card):has(+ * + * + * + * + * + * + .card.-active.team2) {
    background: linear-gradient(-45deg, var(--g11), var(--g2));
}
li[data-team2-can="true"]:not(.card):has(+ * + * + * + * + * + .card.-active.team2) {
    background: linear-gradient(to top, var(--g11), var(--g2));
}
li[data-team2-can="true"]:not(.card):has(+ * + * + * + * + .card.-active.team2) {
    background: linear-gradient(45deg, var(--g11), var(--g2));
}
li.card.-active.team2 + * + * + * + * + li[data-team2-can="true"]:not(.card) {
    background: linear-gradient(215deg, var(--g11), var(--g2));
}
li.card.-active.team2 + * + * + * + * + * + li[data-team2-can="true"]:not(.card) {
    background: linear-gradient(to bottom, var(--g11), var(--g2));
}
li.card.-active.team2 + * + * + * + * + * + * + li[data-team2-can="true"]:not(.card) {
    background: linear-gradient(-215deg, var(--g11), var(--g2));
}
li[data-team2-can="true"]:not(.card):has(+ .card.-active.team2) {
    background: linear-gradient(to left, var(--g11), var(--g2));
}
li.card.-active.team2 + li[data-team2-can="true"]:not(.card) {
    background: linear-gradient(to right, var(--g11), var(--g2));
}



main ul li.-attacked {
    outline: 2px solid crimson;
    outline-offset: -2px;
}


main ul li.-dead::before {
    --back: transparent;
    content: "";
    animation: dead 850ms ease-in 150ms forwards;
}
main ul li.-dead::after {
    content: "";
}

@keyframes dead {
    to {
        rotate: 720deg;
        opacity: 0.25;
        scale: 0;
    }
}


/* aside */
aside {
    --w: 8rem;

    padding-inline: 0.5rem;
    width: var(--w);

    display: grid;
    place-content: center;
    gap: 1.5rem;
}
aside .player {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
aside .player[data-player="human"] {
    background-image: url("./pics/human_player.jpeg");
}
aside .player[data-player="pc"] {
    background-image: url("./pics/pc_player.webp");
}

aside .text {
    margin-top: -1rem;

    width: 100%;
    height: 1.5rem;
    border: 1px solid #dedede;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.73rem;
    color: #dedede;

    overflow: hidden;
}


/* Nav */
nav fieldset {
    padding-block: 0.5rem;
    width: calc(0.8 * var(--w));

    display: grid;
    align-items: center;
    justify-content: center;
    gap: 3px;

    border-radius: 5px;
}
nav fieldset legend {
    margin-inline: 0.2rem;
    padding-inline: 0.3rem;

    font-size: 0.9rem;
    color:#fff;
}

nav input {
    accent-color: green;
    margin-right: 0.2rem;
}
nav span {
    font-size: 0.73rem;
    color: #ededed;
}


dialog {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    background-color: #333333ad;
    backdrop-filter: blur(5px);



    border: none;
    z-index: 10;
}



@media (max-width: 850px) {
    :root {
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    li.card::after {
        padding: 0.1rem;
        content: var(--damage, "0");
    }
}
@media (max-width: 400px) {
    :root {
        font-size: 10px;
    }
    aside {
        --w: 9rem;
    }
}
@media (max-width: 300px) {
    :root {
        font-size: 9px;
    }
}